##### Important: Please read the integration and environment setup guide before editing this file.

#### Variables which must be manually provided in this file

### commercetools Environment Variables

## Project Name
export CT_PROJECT_ID="<your commercetools project id>"

## API Client
export CT_CLIENT_ID="<your commercetools client id>"
export CT_CLIENT_SECRET="<your commercetools client secret>"


## API & Auth URLs
export CT_API_URL="<commercetools API URL>"
export CT_AUTH_URL="<commercetools auth server URL>"

## API Extension
export CT_API_EXTENSION_NAME="planet-connector-extension"

### Datatrans Environment Variables
export DT_MERCHANTS='[{"id": "<merchant Id>", "password": "<merchant password>", "environment": "<environmen>", "dtHmacKey": "<sign>"}]'


##### Below variables are automatically inserted by the quick setup script. Change for manual deployment only.

## API client
export CT_SCOPES="manage_project:${CT_PROJECT_ID}"

## commercetools configuration for API extension of type "HTTP"
export CT_API_EXTENSION_URL=
export CT_API_EXTENSION_AUTH_HEADER=

## commercetools configuration for API extension of type "AWSLambda"
export CT_API_EXTENSION_AWS_LAMBDA_ARN=
export CT_API_EXTENSION_AWS_LAMBDA_ACCESS_KEY=
export CT_API_EXTENSION_AWS_LAMBDA_SECRET=
