##### Important: Please read the integration and environment setup guide before editing this file.

#### Variables which must be manually provided in this file

### commercetools Environment Variables

## Project Name
export CT_PROJECT_ID="{commercetoolsProjectId}"

## API Client
export CT_CLIENT_ID="{commercetoolsClientId}"
export CT_CLIENT_SECRET="{commercetoolsClientSecret}"
export CT_SCOPES="manage_project:${CT_PROJECT_ID}"

## API & Auth URLs
export CT_API_URL="{commercetoolsApiUrl}"
export CT_AUTH_URL="{commercetoolsAuthUrl}"

## API Extension
export CT_API_EXTENSION_NAME="planet-connector-extension"

### Datatrans Environment Variables
export DT_MERCHANTS='[{"id": "{merchantId}", "password": "{merchantIdPassword}", "environment": "{environment}", "dtHmacKey": "{sign}"}]'

##### Do not change the variables below. These variables are automatically updated by the quick deploy script.

### commercetools Environment Variables
export CT_API_EXTENSION_URL=
export CT_API_EXTENSION_AWS_LAMBDA_ARN=
export CT_API_EXTENSION_AWS_LAMBDA_ACCESS_KEY=
export CT_API_EXTENSION_AWS_LAMBDA_SECRET=

### Datatrans Environment Variables
export DT_CONNECTOR_WEBHOOK_URL=
